
.oben {
  box-sizing: border-box;
  margin-left:3vh;
  margin-top:3vh;
  margin-bottom:10px;
  margin-right:0;
  display:flex;
  align-items: baseline;
}

.oben-0 {
  margin-left: 3vh;
  width: 400px;
  box-sizing:border-box;
}

.oben-0 h1 {
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
    0px -4px 10px rgba(255,255,255,0.3);
  margin:0;
  padding:0;
}

.oben-1 {
  padding-left:50px;
}

.main {
  display:flex;
  flex-flow: row nowrap;
  /* max-width:100%; */
  flex-shrink:1;
  flex-grow: 1;
  align-items: flex-start;
  margin-left:3vh;
}

.main-01 {
  margin:3vh;
  overflow:auto;
  border:2px inset;
  max-width: 95vw;
  max-height:95vh;
  box-sizing: border-box;
  align-self: top;
  position:relative; /* damit child "boardHourGlass" absolut positionierbar */
}

.main-01-00 {
  padding-left:50px;
  padding-right:50px;
  border:1px solid black;
  width:1300px;
  height:2000px;

}

.main-02 {
  margin: 3vh;
  /* overflow:auto; */
  width:400px;
  max-height:95vh;
  box-sizing: border-box;
  /* border:1px solid black; */
}

.main-02-00 {
  /* width:400px; */
  max-height: 80vh;
  overflow:auto;
  /* border:1px solid black; */
}

.main-02-01 {
  width:200px;
  height:100px;
  /* border:1px solid black; */
}

.main-03 {
  /* flex-shrink: 0; */
}

.unten {
  margin-left:6vh;
  box-sizing: border-box;
  /* padding-left: 50px; */
  height:50px;
  /* border:3px solid yellow; */
}

.out {
  /* neu: */
  /* display:flex;
  flex-flow:column nowrap; */

  /* original: */
  display:block;
  /* max-height:100vh; */
  /* border:3px solid red; */
  /* overflow:auto; */
  /* margin-left:0; */
  /* margin-left:auto; */
  /* margin-right:auto; */
  /* border:1px solid red; */
  width:fit-content;
}

/**************** END "import" von test *******************/

/* body, #root {
  margin:0;
  padding:0;
} */


.lightLabel {
  display: inline-block;
  width:1em;
  font-size: small;
  color:black;
  /* color:rgb(124, 124, 124); */
}

.sidePanel {
  margin:20px;
  display: flex;
  flex-flow: column;
  /* align-content: stretch; */
  border:1px solid black;
  border-radius: 1em;
  padding-bottom: 20px;
  /* margin: 10px; */
  box-sizing: border-box;
  /* background-color: rgb(219, 159, 43); */
  /* background: linear-gradient(hsl(60, 43%, 58%), rgb(255,255,255)); */
  background: linear-gradient(hsl(0, 0%, 100%), hsl(228, 100%, 84%));

  color:black;
  width: calc("100% - 20px - 20px");
}

.delayed * {
  cursor:wait;
}

.sideItem {
  display: flex;
  flex-flow: column;
  margin-top:20px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:0;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.sideItem ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

.sideItem label {
}

.sideItem .input {
}

.sideItem td {
  padding:0.4em;
}

.sideItem input[type="number"] {
  width:60px;
}

.inputContainer {
  display: inline-block;
  border: 1px solid red;
}

.sideButton {
  /* background: linear-gradient(hsl(212, 52%, 36%), hsl(56, 47%, 38%)); */
  margin-left:0;
  margin-bottom:10px;
  border: 2px solid black;
  border-radius: 0.5em;
  padding: 0.25em;
  /* background-color: hsl(212, 52%, 40%); */
  color:black;
  /* font-size:1.5em; */
  /* font-size:3vh; */
  /* text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
      0px -4px 10px rgba(255,255,255,0.3); */
  cursor: pointer;
}

.sideButton:hover {
  /* background: linear-gradient(hsl(212, 30%%, 36%), hsl(56, 47%, 38%)); */
  /* background-color: hsl(212, 52%, 36%); */
  text-decoration: underline;
}
.sideButton:active {
  /* background-color: hsl(212, 52%, 30%); */
  background-color: Window;
}

.sideItem-minified .sideButton {
  margin:0;
  padding:0;
  border:none;
  background:inherit;
  height:1.5em;
  /* alt: */
  /* background-color:hsl(212, 52%, 50%); */
}

.sideItem-minified .sideButton:hover {
  text-decoration: underline;
  /* alt: */
  /* background-color:hsl(212, 52%, 46%); */
}
.sideItem-minified .sideButton:active {
    /* background-color:hsl(212, 52%, 40%); */
}

.invisible {
  visibility: hidden;
  height:0;
}

.segSize {
  display: block;
  font-size: small;
  color: black;
  text-align: right;
  margin-top:2px;
  margin-right:5px;
  width:13px;
  height:13px;
  align-self: center;
}

.segSize .invisible {
  visibility: hidden;
}

.buttonRow {
  margin-left:20px;
  margin-top:20px;
  margin-right:0;
  margin-bottom:0;
  padding-right:20px;
  /* padding-bottom:20px; */
}

.rules {
  /* background-color: rgb(219, 159, 43); */
  /* color:darkblue; */
  /* TODO weg mit folgendem und was sinnvolles her */
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
}

.sideItem fieldset {
  margin:1em;
  padding:0.5em;
  border:1px solid gray;
  border-radius:0.5em;
}

.sideItem fieldset > * {
  margin: 0.5em;
}

.commentation {
  margin:20px;
  height:140px;
  /* min-height:50px; */
  width:auto;
}
.lightHint {
  color:gray;
  font-size:smaller;
}


/******************************************/

body, #root {
  margin:0;
}

#root {
  box-sizing: border-box;
  position:relative;
  width:100vw;
  height:100vh;
  display:block;
}

.wrapper {
  box-sizing: border-box;
  height: 100vh;
   width: 100vw;
   /* background: #333; */
   border: 6px solid #666;
   display: flex;
 }
.left {
  box-sizing: border-box;

}
.right {
  box-sizing: border-box;
  position: relative;
  padding-left:10px;
}
.splitter {
  box-sizing: border-box;
  position:absolute;
  width:10px;
  height:100%;
  top:0;
  left:0;
  cursor: col-resize;
  background: #666;
}

#preWinner {
  margin-left:20px;
  margin-right: 20px;
}
