.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body, #root {
  /* width: 100%; */
  margin:0;
  padding:0;
}

#root {
  max-width:100%;
  /* border:1px solid magenta; */
  /* overflow:hidden; */
  /* overflow:scroll; */
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

.lightLabel {
  display: inline-block;
  width:1em;
  font-size: small;
  color:black;
  /* color:rgb(124, 124, 124); */
}

.main {
  display:block;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;

  /* display: flex; */
  /* flex-flow: row; */
  box-sizing: border-box;
  /* max-width:100%; */
}

.sidePanel {
  display: flex;
  flex-flow: column;
  /* align-content: stretch; */
  border:1px solid black;
  border-radius: 1em;
  padding-bottom: 20px;
  /* margin: 10px; */
  box-sizing: border-box;
  /* background-color: rgb(219, 159, 43); */
  background: linear-gradient(hsl(60, 43%, 58%), rgb(255,255,255));
  color:black;
}
.sideItem {
  display: flex;
  flex-flow: column;
  margin-top:20px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:0;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.sideItem ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

.sideItem label {
}
.sideItem .input {
}
.sideItem td {
  padding:0.4em;
}
.sideItem input[type="number"] {
  width:60px;
}
/* .sideItem input[type="checkbox"] {
  margin-left:0;
} */

.inputContainer {
  display: inline-block;
  border: 1px solid red;
}

h1 {
  margin-left:20px;
  margin-top:20px;
  font-size:2.5em;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
    0px -4px 10px rgba(255,255,255,0.3);

}

.sideButton {
  /* background: linear-gradient(hsl(212, 52%, 36%), hsl(56, 47%, 38%)); */
  margin-bottom:10px;
  border: 2px solid black;
  border-radius: 0.5em;
  padding: 10px;
  /* background-color: hsl(212, 52%, 40%); */
  color:black;
  font-size:1.5em;
  /* text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
      0px -4px 10px rgba(255,255,255,0.3); */
  cursor: pointer;
}

.sideButton:hover {
  /* background: linear-gradient(hsl(212, 30%%, 36%), hsl(56, 47%, 38%)); */
  /* background-color: hsl(212, 52%, 36%); */
  text-decoration: underline;
}
.sideButton:active {
  /* background-color: hsl(212, 52%, 30%); */
  background-color: Window;
}

.sideItem-minified .sideButton {
  margin:0;
  padding:0;
  border:none;
  background:inherit;
  height:1.5em;
  /* alt: */
  /* background-color:hsl(212, 52%, 50%); */
}

.sideItem-minified .sideButton:hover {
  text-decoration: underline;
  /* alt: */
  /* background-color:hsl(212, 52%, 46%); */
}
.sideItem-minified .sideButton:active {
    /* background-color:hsl(212, 52%, 40%); */
}
.header {
  position:absolute;
  left:20px;
  right:0;
  top:0;
  height:60px;
}
.left {
  position:absolute;
  left:0;
  top:60px;
  bottom:2em;
  right:500px;
  margin:0;
  display: flex;
  flex-flow: column;
  /* max-width:30%; */
  box-sizing: border-box;
  /* flex-grow:1; */
  /* flex-shrink: 1; */
  /* width:70%; */
  /* border:1px solid blue; */
  padding-bottom:20px;
  padding-right:20px;
}

.right {
  position:absolute;
  top:60px;
  bottom:2em;
  right:0;
  width:500px;
  margin:0;
  /* border: 1px solid red; */
  box-sizing: border-box;
  padding: 20px;
  padding-left:0;
  overflow:auto;
}

.footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:2em;
}

.invisible {
  visibility: hidden;
  height:0;
}

.segSize {
  display: inline-block;
  font-size: small;
  color: black;
  width:2em;
  text-align: right;
  margin-right:1em;

}

.segSize .invisible {
  /* width: */
  height:1em;
  visibility: hidden;
}

.buttonRow {
  margin-left:20px;
  margin-top:20px;
  margin-right:0;
  margin-bottom:0;
  padding-right:20px;
  /* padding-bottom:20px; */
}

.rules {
  /* background-color: rgb(219, 159, 43); */
  /* color:darkblue; */
  /* TODO weg mit folgendem und was sinnvolles her */
  background-image: url("./res/checked.png");

}

.sideItem fieldset {
  margin:1em;
  padding:0.5em;
  border:1px solid gray;
  border-radius:0.5em;
}

.sideItem fieldset > * {
  margin: 0.5em;
}

/* layout test: */
.testBoard2 {
  display: flex;
  flex-flow: row nowrap;
  vertical-align: top;
  /* display:flex;
  flex-flow:row; */
  /* margin-left:0;
  margin-right:0; */
  border:3px solid blue;
}
.boardWrap2 {
  display:block;
  border:3px solid blue;
  /* float:left; */
  max-width:800px;
  max-height:400px;
  overflow:auto;
  /*max-height:200px; */
  /* border:2px solid yellow; */
  /* overflow:auto; */
}
.board2 {
  display:inline-block;
  text-align: center;
  /* max-width:200px; */
  border:3px solid red;
  /* overflow:auto; */
}
.row2 {
  /* border:1px solid blue; */
  display:flex;
  flex-flow:row;
  flex-wrap: nowrap;
  justify-content: center;
}
.sidePanelContainer2 {
  display:block;
  /* float:left; */
  /* float:none; */
  margin:0;
  width:auto;
  border:3px solid green;
  /* margin-left:30px; */
}

.sidePanelContainer2 .sidePanel {
  /* margin:0;
  display: inline-flex;
  border:1px solid blue; */
  max-width:500px;
  vertical-align:top;
}
.boxContainer2 {
  display: inline-block;
  margin:3px;
}
.boxContainer2 input[type="checkbox"] {
  width: 30px;
  height: 30px;
}
